*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Flutter related
/mobile/.dart_tool/
/mobile/.flutter-plugins
/mobile/.flutter-plugins-dependencies
/mobile/.packages
/mobile/build/
/mobile/.pub-cache/
/mobile/.pub/
/mobile/ios/Flutter/Generated.xcconfig
/mobile/ios/Flutter/flutter_export_environment.sh
/mobile/ios/Flutter/App.framework
/mobile/ios/Flutter/Flutter.framework
/mobile/ios/Flutter/Flutter.podspec
/mobile/android/local.properties
/mobile/android/key.properties
/mobile/android/app/src/main/res/raw/
/mobile/android/.gradle
/mobile/android/app/build.gradle
/mobile/android/app/src/debug/AndroidManifest.xml
*.swp
*.lock
